---
const {heading} = Astro.props

---
<section class="container xl:px96 lg:px-48 md:24px sm:px-8 px-4 mx-auto my-6 text-center">
    <h2 class="text-4xl my-2">{heading}</h2>
    <p class="text-black">CV Content to go here</p>
</section>

