---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import Divider from "../../components/Divider.astro";

const { blok } = Astro.props;
const renderedRichText = renderRichText(blok.contact_detail_body);
---

<Divider layout="horizontal" />
<div {...storyblokEditable(blok)} class="container px-4 md:px-6">
  <div class="flex flex-col gap-4 md:gap-2 lg:gap-4 xl:gap-8">
    {
      blok.contact_detail_image.filename ? (
        <img
          src={
            blok.contact_detail_image
              ? blok.contact_detail_image.filename
              : null
          }
          width="100"
          height="100"
          alt="Image"
          class="object-cover"
          style="aspect-ratio: 100 / 100; object-fit: cover;"
        />
      ) : null
    }

    <div class="grid gap-1.5">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl">
        {blok.contact_detail_name}
      </h2>
      <p
        class="max-w-prose text-gray-500 md:text-base/relaxed dark:text-gray-400">
        <span set:html={renderedRichText} />
      </p>
    </div>
  </div>
</div>
