---
import { Image } from "astro:assets";
import Divider from "../../components/Divider.astro";
import { storyblokEditable } from "@storyblok/astro";
const { blok, wrapped } = Astro.props;
---

<section class="text-center">
    <div {...storyblokEditable(blok)}>
        <h2 class="text-4xl my-2">{blok.heading}</h2>
        <div
            class="flex justify-center items-center gap-3"
            class:list={[{ wrapped: true }]}
        >
            {
                blok.gallery.map((img: any) => (
                    <Image
                        src={img.filename}
                        alt={img.alt}
                        class="icon"
                        height={60}
                        width={60}
                    />
                ))
            }
        </div>
        <Divider />
    </div>

    <style>
        .wrapped {
            flex-wrap: wrap;
        }
    </style>
</section>
