---
import { storyblokEditable } from "@storyblok/astro";
import ProfileSkillBlock from "./ProfileSkillBlock.astro";
const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} class="w-full py-6 md:py-12">
  <div class="container px-4 md:px-6">
    <div class="flex flex-col gap-4">
      <div
        class="mx-auto grid max-w-sm items-center gap-4 md:max-w-3xl lg:gap-8">
        <div class="space-y-2">
          <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl">
            Top Programming Languages
          </h2><p
            class="max-w-[500px] text-gray-500 md:text-xl/relaxed dark:text-gray-400">
            The most popular programming languages among developers.
          </p>
        </div>
      </div>

      <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-2xl xl:gap-8">
        {
          blok.profile_skill &&
            blok.profile_skill.map((skill: Object) => (
              <ProfileSkillBlock skill={skill} />
            ))
        }
      </div>
    </div>
  </div>
</section>

<script>
  window.onload = function () {
    const bars = document.querySelectorAll("[data-target-skill]");
    bars.forEach((bar, index) => {
      setTimeout(() => {
        const htmlBar = bar as HTMLElement | null;
        if (htmlBar) {
          const targetSkill = htmlBar.getAttribute("data-target-skill");
          if (targetSkill) {
            const width = parseInt(targetSkill) * 10 + "%";
            htmlBar.style.width = width;
          }
        }
      }, index * 200); // delay of 200ms between each bar
    });
  };
</script>
