---
const { skill } = Astro.props;
---

<div class="flex flex-col space-y-4 w-full">
  <span class="font-medium">{skill.profile_skill_name}</span>
  <div class="h-4 bg-gray-100 rounded-lg">
    <div
      class="h-full rounded-lg bg-[#eab308] w-0 transition-all duration-500 ease-in-out"
      data-target-skill={skill.profile_skill_rating}>
    </div>
  </div>
</div>
