---
import { storyblokEditable } from "@storyblok/astro";
import Divider from "../../components/Divider.astro";
const { blok } = Astro.props;
---

<section class="mx-auto text-center px-4 my-6">
  <article
    {...storyblokEditable(blok)}
    class="flex flex-col justify-center items-center">
    <img
      src={blok.profile_image.filename}
      alt={blok.profile_heading}
      width={64}
      height={64}
      style="aspect-ratio: 64 / 64; object-fit: cover;"
      class="rounded-full overflow-hidden"
    />
    <h1 class="text-black">{blok.profile_heading}</h1>
    <p class="text-black">{blok.profile_blurb}</p>
  </article>
  <Divider layout="horizontal" < section />
</section>
