---
import Footer from "../components/Footer.astro";
import NavMenu from "../components/NavMenu.vue";
import { ViewTransitions } from "astro:transitions";
import "@fontsource/poppins";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>R CHALLENGER: CV</title>
    <ViewTransitions />
  </head>
  <body class="bg-slate-100" transition:animate="none">
    <NavMenu client:only />
    <main
      class="container w-full sm:px-4 md:px-16 lg:px-24 xl:px-40 px-4 mx-auto my-6 grid grid-cols-1 justify-items-center transition-all"
      transition:animate="slide">
      <slot />
    </main>
    <Footer />
    <style is:global>
      body {
        overflow-x: hidden;
      }

      /* * {
        border: 1px dotted red;
      } */
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      span,
      li,
      ul,
      text {
        font-family: "Poppins", sans-serif;
      }

      p {
        color: var(--pgraph-col);
      }

      h1,
      h2,
      h3 {
        font-weight: 900;
        text-transform: uppercase;
      }

      h4,
      h5,
      h6 {
        font-weight: 400;
        text-transform: uppercase;
      }

      p {
        font-weight: 200;
      }

      .image-mask {
        mix-blend-mode: multiply;
      }

      .project-content {
        border: #f6cd61 2px solid;
      }

      .project-tech-img {
        height: 100%;
      }
    </style>
  </body>
</html>
